.custom-button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    outline: none;
    transition: background-color 0.3s ease;
    min-height: 48px;
  }
  
  .custom-button:hover {
    opacity: 0.8;
  }

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}